{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "alias": {
          "@styles": "./styles",
          "@images": "./public/images",
          "@atomic": "./atomic",
          "@svg": "./assets/svg"
        }
      }
    ]
  ]
}
